src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/compile
src/config.guess
src/config.log
src/config.status
src/config.sub
src/configure
src/depcomp
src/gitversion.h
src/install-sh
src/libtool
src/ltmain.sh
src/m4/libtool.m4
src/m4/ltoptions.m4
src/m4/ltsugar.m4
src/m4/ltversion.m4
src/m4/lt~obsolete.m4
src/missing
src/ppcg
src/test-driver
src/build
src/opencl_test.sh
src/polybench_test.sh
src/.nfs*
src/*.o
src/.vscode
src/autosa
src/tags

autosa
autosa.tmp
.nfs*
.vscode
.libs
autosa_scripts/__pycache__
docs/_build
