[submodule "src/isl"]
	path = src/isl
	url = git://repo.or.cz/isl.git
[submodule "src/pet"]
	path = src/pet
	url = git://repo.or.cz/pet.git
[submodule "src/cJSON"]
	path = src/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "src/barvinok"]
	path = src/barvinok
	url = https://repo.or.cz/barvinok.git
