Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

clan/autoconf/libtool.m4
clan/autoconf/ltoptions.m4
clan/autoconf/ltsugar.m4
clan/autoconf/ltversion.m4
clan/autoconf/lt~obsolete.m4
clan/scoplib/scoplib-0.2.0/
